<div class="container-fluid">
    

	<!--Header Nav bar Starts-->	 
	<div class="row row-offcanvas row-offcanvas-left">  
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dyno Forms</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
                </ul>
            </div>
            </nav>
        </header>
	</div>	
	<!--Header Nav bar Ends-->	
	
	
	
	<!--Site Title Header Starts-->	 
	<div class="row row-offcanvas row-offcanvas-center">  
		<h1>Dyno Forms</h1>
	</div>	
	<!--Site Title Header Ends-->	 
	
	
	
	
	
	
	
	
	
	 
	
	
	<!--Main Body Starts-->
	<div class="row row-offcanvas row-offcanvas-left">        
       
	   
	   <!--Left panel Starts-->
	   <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation" style="background-color:#FFFFFF;">
    		
			 <ui-panel title="My Forms"> <user-forms></user-forms> </ui-panel> 
			
	   </div>
	    <!--Left panel Ends-->
	   
	   <!--Right panel main Starts-->
        <div class="col-sm-11 col-md-11 col-lg-10 main" style="background-color:#FFFFFF;">
			

			
		</div>  			
	    <!--Right panel main Starts-->		
		
		
	</div>  
	<!--Main Body Ends-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--Footer Starts-->
	<div class="row row-offcanvas row-offcanvas-center">  
	  <footer class="text-center">
		<p>View the tutorial on <a href="#">home</a></p>
	  </footer>
	</div>	
	<!--Footer ends-->


</div>





