<div class="container-fluid">
      <h1>Dyno Forms</h1>


	   <div class="row row-offcanvas row-offcanvas-left">        
           
        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation" style="background-color:#FFFFFF;">
          
				<div class="panel panel-primary">
				  <div class="panel-heading">
					<h3 class="panel-title">Database Tables</h3> <br><br>
					</div>
				<div class="panel-body">
					<button ng-click="getAllTables()" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-play"></span>All Tables</button>
     				<button type="button" class="btn btn-success btn-xs" ng-click="addFormShowView()"><span class="glyphicon glyphicon-plus"></span>Table</button><br><br>
			
				    <p><input type="text" ng-model="searchQuery" class="search-query" placeholder="Search"></p> 
					<table class="table table-striped ">
						<tr ng-repeat="form in forms | filter:searchQuery">
							<td><a ng-click="getFormDetails( form )">{{ form.formName }} </a></td>
							<td><a ng-click="deleteForm( form )" class="text-danger"> <span class="glyphicon glyphicon-trash"></span> </a></td>
						</tr>
         			</table>
				  </div>
				</div>  
 	   </div>
	   
       <div class="col-sm-11 col-md-11 col-lg-10 main" style="background-color:#FFFFFF;">
			
          <!-- ADD New Table Form-->		  
		 <div ng-show="addTableInd" class="panel panel-success">
			  <div class="panel-heading">
				<h3 class="panel-title">Add New Table</h3>
			  </div>
			  <div class="panel-body">
				<div>		
					<button type="btn btn-primary" class="btn btn-primary" ng-click="addForm(nt)">Add</button>
					<button type="btn btn-primary" class="btn btn-primary" ng-click="addFormCancelView()">Cancle</button>
					<button type="btn btn-primary" class="btn btn-primary" ng-click="addEmptyColumn()">Add Column</button>
				</div>
				<form ng-submit="addForm(nt)" >
			 		<div class="col-lg-8">
						<input class="form-control" placeholder="Enter Form Name" type="text" ng-model="nt.formName" required min="1" />
						<input class="form-control" placeholder="Enter Created By " type="text" ng-model="nt.createdby" required min="1" />
						 <!--Dynamic table Form using diffrenent columns and ng-table tag Starts-->
							<table class='table'>
							<tbody>
							<textarea style="width: 300px; height: 150px;" ng-model="nt.fields" ng-list="&#10;" ng-trim="false"></textarea>
							</tbody>
							</table>
						<!--Dynamic table Form using diffrenent columns and ng-table tag Ends-->
						<!--<textarea ng-model="nt.columns" ng-list="&#10;" ng-trim="false"></textarea> -->
						<pre>{{ nt | json }}</pre>                  
					</div>
				</form>				
			 </div>
		</div>
		<!-- ADD New Table Form-->			

	   <!-- ADD New DATA Form-->	
   <!--  
	  <div ng-show="addTableInd">
		   <form name="userFormTwo" >    
          <div class="form-group" ng-repeat="user in formDataTwo.users" ng-class="{ 'has-error' : userFieldForm.email.$invalid }">
           <ng-form name="userFieldForm">
            <label>{{ user.name }}'s Email</label>  <input type="email" class="form-control" name="email" ng-model="user.email" required>
            <p class="help-block" ng-show="userFieldForm.email.$invalid">Valid Email Address Required</p>
          </ng-form>
         </div>        
       </form>
      </div> 
	  -->
	  <div ng-show="showAddTableDataInd">
	  <button type="btn btn-primary" class="btn btn-primary" ng-click="addTablesData(newData)">Add</button>
      <button type="btn btn-primary" class="btn btn-primary" ng-click="addTableDataCancelView()">Cancle</button>
		<form name="userFormTwo" >    
          <div class="form-group" ng-repeat="field in formFields" >
            <label>{{ field }}</label>  <input type="text" class="form-control" name="newData[field]" ng-model="newData[field]" required>
         
         </div>        
       </form>
	   {{ newData }}
      </div>
    
	<!-- ADD New DATA Form-->	

			<!--panel view starts -->
				<div class="panel panel-primary" ng-show="showTableDetails" ng-hide="addTableInd">
				  <div class="panel-heading">
					<h3 class="panel-title">Table Detail : <b>{{table.tableName}}<b></h3> 
				  </div>
				  <div class="panel-body" >
					<appfac-panel></appfac-panel>
				<!--	<div class="panel" ng-show="tab === 3"><ui-table-read-only table-id="data" columns="columns" paging="pagging(pageopt)"></ui-table-read-only></div> -->
				  </div>
				</div>			
		    <!--panel view ends -->
				
			</div>  			
			</div>  
		
	

    </div>





